.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav li div {
    display: block;
    color: white;
    text-align: center;
    background-color: blue;
}

li div:hover {
    background-color: #333;
}

.title {
    float: left;
    padding: 14px 60px;
}

.logo {
    float: left;
    padding: 14px 20px;
}

.login {
    float: right;
    padding: 14px 20px;
}

.signup {
    float: right;
    padding: 14px 20px;
}

.main {
    display: flex;
}

.c1 {
    background-color: black;
    flex: 25%;
}

.c2 {
    background-color: pink;
    flex: 75%;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main li div {
    display: inline-block;
    color: white;
    text-align: center;
    background-color: blue;
}

.menu-logo {
    float: left;
    width: 25%;
    justify-content: center;
}

.menu-option {
    float: right;
    width: 75%;
    justify-content: center;
}

